<div class="sidebar-nav">
  <nav class="navbar navbar-dark">
    <div class="container">
      <!-- Mobile Menu Toggle Button -->
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar">

        <i class="fa-solid fa-bars"></i>
      </button>

      <div class="mt-2 d-flex flex-column align-items-center">
        <i class="fa-solid fa-circle-user fs-1 "></i>
        <p class="">Hola Juan!</p>
      </div>

      <!-- Menus List -->
      <div class="offcanvas offcanvas-start shadow" tabindex="-1" id="offcanvasNavbar"
        aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-body">
          <ul class="navbar-nav">
            <li><a routerLink="/orders/list"><i class="bi bi-inicio"></i> <span class="item-text">Órdenes
                  Disponibles</span></a></li>
            <li><a [routerLink]="['/orders/taken']"><i class="bi bi-comercios"></i> <span class="item-text">Órden en
                  progreso</span></a></li>
            <li><a routerLink="/orders/history"><i class="bi bi-comercios"></i> <span
                  class="item-text">Historial</span></a></li>
            <li><a routerLink="/home"><i class="bi bi-comercios"></i> <span
                  class="item-text">Cerrar Sesión</span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>

<div class="imagen">
  <img src="assets/img/logo.png" class="w-25">
</div>