<div class="sidebar-nav">
    <nav class="navbar navbar-dark">
        <div class="container">
            <!-- Mobile Menu Toggle Button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
              <i class="fa-solid fa-bars"></i>
            </button>
  
            <!-- Menus List -->
            <div class="offcanvas offcanvas-start shadow" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
              <div class="offcanvas-body">
                    <ul class="navbar-nav">
                        <li><a routerLink="/"><i class="bi bi-inicio"></i> <span class="item-text">Inicio</span></a></li>
                        <li><a routerLink="auth/login"><i class="bi bi-comercios"></i> <span class="item-text">Sporte</span></a></li>
                    </ul>
              </div>
            </div>
        </div>
    </nav>
  </div>
  <div class="imagen">
    <img src="assets/img/logo.png" class="w-50">
  </div>
