
<div class="mt-4 mx-4">
    <i class="fa-solid fa-caret-left fs-1" routerLink="/"></i>
</div>

<div id="logo">
    <img src="assets/img/logo.png" class="w-50">
</div>

<h1 class="text-center mb-4">Regístrate</h1>

<form class="row g-3" id="form">
    <div class="mb-4 row">
        <div class="col-md-2">
            <label for="nombre" class="col-sm-1 col-form-label">Nombre</label>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" id="nombre" value="" placeholder="Juan">
        </div>
    </div>
    <div class="mb-4 row">
        <div class="col-md-2">
            <label for="correo" class="form-label">Correo</label>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <input type="email" class="form-control" id="correo"
                    placeholder="usuario@server.com" aria-describedby="correo">
                <span class="input-group-text" id="correo" style="border: 1px solid black;">@</span>
            </div>
            <!--<small *ngIf="!emailValido">Ingrese un correo correcto</small>-->
        </div>
    </div>
    <div class="mb-4 row">
        <div class="col-md-2">
            <label for="telefono" class="form-label">Celular</label>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" id="celular" placeholder="9587-7585">
        </div>

    </div>
    <div class="mb-4 row">
        <div class="col-md-2">
            <label for="password" class="col-sm-1 col-form-label">Contraseña</label>
        </div>
        <div class="col-md-4">
            <input type="password" class="form-control" id="password" value="">
            <!--<small *ngIf="!contraValida" class="form-text text-muted">Mínimo 8 caracteres, una letra mayúscula, un
                número y un caracter especial (/#$%!) </small>-->

        </div>

    </div>

    <div class="mb-4 row">

        <div class="col-md-2">
            <label for="password2" class="col-form-label">Confirmar Contraseña</label>
        </div>
        <div class="col-md-4">
            <input type="password" class="form-control" id="password2" value="">
            <!--<small *ngIf="!passw2ConfirmIsValid; else contra" class="form-text text-muted">Repetir la contraseña</small>
            <ng-template #contra>
                <small *ngIf="this.registroForm?.errors?.['mismatch']">La contraseña no es igual</small>
            </ng-template>-->
        </div>
    </div>

    <div class="mb-4 row">

        <div class="col-md-2">
            <label for="fechaNac" class="form-label">Fecha de Nacimiento</label>
        </div>

        <div class="col-md-4">
            <input type="text" class="form-control" id="fechaNac" placeholder="25-08-2022">
        </div>
    </div>

    <div class="col-12 mb-4">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="termino">
            <label class="form-check-label" data-bs-toggle="modal" data-bs-target="#modalTerminos"
                style="text-decoration: underline; cursor: pointer;">
                Acepto los términos y condiciones
            </label>
            <!-- <p class="error" *ngIf="this.registerForm.controls['termino'].errors?.['required']">
                Marque la casilla para aceptar los términos y condiciones.
            </p> -->
        </div>
    </div>
    <button class="btn primario fw-bold" (click)="validate()">Crear</button>
</form>

<app-footer></app-footer>