
<div class="mt-4 mx-4">
    <i class="fa-solid fa-caret-left fs-1" routerLink="/"></i>
</div>

<div id="logo">
    <img src="assets/img/logo.png" class="w-50">
</div>

<h1 class="text-center mb-4">Regístrate</h1>

<form class="row g-3" id="form" novalidate [formGroup]="registerForm" (ngSubmit)="postRegister()">
    <div class="mb-4 row">
        <div class="col-md-2">
            <label for="name" class="col-sm-1 col-form-label">Nombre</label>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" formControlName="name" id="name" value="" placeholder="Juan Perez">
        </div>
    </div>
    <div class="mb-4 row">
        <div class="col-md-2">
            <label for="dni" class="col-sm-1 col-form-label">DNI</label>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" formControlName="dni" id="dni" value="" placeholder="0801-1986-00245">
        </div>
    </div>
    <div class="mb-4 row">
        <div class="col-md-2">
            <label for="placa" class="col-sm-1 col-form-label">Placa</label>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" formControlName="placa" id="placa" value="" placeholder="HAB2658">
        </div>
    </div>
    <div class="mb-4 row">
        <div class="col-md-2">
            <label for="email" class="form-label">Correo</label>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <input type="email" class="form-control" id="email" formControlName="email"
                    placeholder="usuario@server.com" aria-describedby="email">
                <span class="input-group-text" id="email" style="border: 1px solid black;">@</span>
            </div>
            <small *ngIf="!emailValido">Ingrese un correo correcto</small>
        </div>
    </div>
    <div class="mb-4 row">
        <div class="col-md-2">
            <label for="cell" class="form-label">Celular</label>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" formControlName="cell" id="cell" placeholder="9587-7585">
        </div>

    </div>
    <div class="mb-4 row">
        <div class="col-md-2">
            <label for="password" class="col-sm-1 col-form-label">Contraseña</label>
        </div>
        <div class="col-md-4">
            <input type="password" class="form-control"  formControlName="passw" id="password" value="">
            <small *ngIf="!contraValida" class="form-text text-muted">Mínimo 8 caracteres, una letra mayúscula, un
                número y un caracter especial (/#$%!) </small>

        </div>

    </div>

    <div class="mb-4 row">

        <div class="col-md-2">
            <label for="password2" class="col-form-label">Confirmar Contraseña</label>
        </div>
        <div class="col-md-4">
            <input type="password" class="form-control" formControlName="passw2" id="password2" value="">
            <small *ngIf="!passw2ConfirmIsValid; else contra" class="form-text text-muted">Repetir la contraseña</small>
            <ng-template #contra>
                <small *ngIf="this.registerForm?.errors?.['mismatch']">La contraseña no es igual</small>
            </ng-template>
        </div>
    </div>

    <div class="mb-4 row">

        <div class="col-md-2">
            <label for="birth" class="form-label">Fecha de Nacimiento</label>
        </div>

        <div class="col-md-4">
            <input type="date" class="form-control"  formControlName="birth" id="birth" placeholder="25-08-2022">
        </div>
    </div>

    <div class="col-12 mb-4">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" formControlName="termino" id="termino">
            <label class="form-check-label">
                Acepto los términos y condiciones
            </label><br>
            <small class="error text-muted" *ngIf="this.registerForm.controls['termino'].errors?.['required']">
                Marque la casilla para aceptar los términos y condiciones.
            </small>
        </div>
    </div>
    <button class="btn primario fw-bold" type="submit">Crear</button>
</form>

<app-footer></app-footer>