
<app-header></app-header>

<h1 class="text-center">Órdenes Disponibles</h1>

<div class="card-group per">
    <div class="card">
        <img class="card-img-top" src="assets/img/expresso.png" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title">Title</h4>
            <p class="card-text">Text</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="assets/img/matan.png" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title">Title</h4>
            <p class="card-text">Text</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="assets/img/burguer.jpg" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title">Title</h4>
            <p class="card-text">Text</p>
        </div>
    </div>
</div>

