
<div id="logo">
    <img src="assets/img/logo.png" class="w-50">
</div>

<div class="titulo">
    <h1 class="text-center">¿Quieres ser parte de nuestro equipo?</h1>
    <p class="mt-4">¿Necesitas trabajo? ¿Ocupas un ingreso extra?</p>
    <img src="assets/img/job.png" class="w-25">
</div>
<br><br>
<div class="items">
    <p class="mx-4">Únete a la familia de Ready Express y reparte con nosotro</p>
    <img src="assets/img/img2.png" class="w-25">
</div>
<br><br>
<div class="items">
    <img src="assets/img/img1.png" class="w-25">
    <p class="mx-4">Maneja tu propio tiempo y mejora tús ingresos de una manera fácil</p>
</div>
<br><br>
<div class="items">
    <button class="btn primario fw-bold" routerLink = "/auth/login" >Iniciar Sesión</button>
    <button class="btn secundario fw-bold" routerLink="/auth/register">Afíliate</button>
</div>

<app-footer></app-footer>
