<div class="footer">
    <div class="ready mt-2">
        <div>
            <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook-square"></i></a>
            <a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram-square"></i></a>
            <a href="https://www.twitter.com" target="_blank"><i class="fa-brands fa-twitter-square"></i></a>
        </div>
        <div>
            <p>Quienes Somos</p>
        </div>
    </div>

    <div>
        <p class="text-center">Ready Express &#169; 2022</p>
    </div>

</div>