<app-header></app-header>

<div class="alert alert-info mt-4 text-center" role="alert" *ngIf="taken else orden">
    No tiene órdenes en progreso
</div>

<ng-template #orden>
    <h1 class="text-center">Órden: DE-12581</h1>
    <h5 class="mt-3 mb-3">Estado de la Órden</h5>
    <div class="d-flex flex-row justify-content-evenly">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="estado" id="estado1">
            <label class="form-check-label" for="estado1">
                En el comercio
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="estado" id="estado2">
            <label class="form-check-label" for="estado2">
                En camino
            </label>
        </div>
    </div>

    <div class="accordion accordion-flush mt-4" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Detalle de la orden
                </button>
            </h2>

            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-4 d-flex align-items-start">
                                <img src="assets/img/ham.jpg" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-8">
                                <div class="card-body">
                                    <h6 class="card-title">Hamburguesa triple carne con aderezo de la casa</h6>
                                    <p class="card-text">Opciones:</p>
                                    <p class="card-text">Complemente: Papas fritas<br>Bebida: Coca-cola</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-4 d-flex align-items-start">
                                <img src="assets/img/ham.jpg" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-8">
                                <div class="card-body">
                                    <h6 class="card-title">Hamburguesa triple carne con aderezo de la casa</h6>
                                    <p class="card-text">Opciones:</p>
                                    <p class="card-text">Complemente: Papas fritas<br>Bebida: Coca-cola</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <p class="float-end mt-2"><strong>Total:</strong> {{total | currency:'L '}}</p>
    </div>


    <div id="tiempo">
        <p class="float-end mt-4 mx-4">{{hora | date:'mm:ss'}} min</p>
        <i class="fa-solid fa-clock mt-4 mx-2"></i>Tiempo de la orden
        <div class="progress mx-4 mt-4">
            <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
            </div>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto mt-4">
            <button class="btn primario">Finalizar entrega</button>
        </div>
    </div>

</ng-template>