<app-header></app-header>

<div class="alert alert-info mt-4 text-center" role="alert" *ngIf="!orderTaken.exist else orden">
    No tiene órdenes en progreso
</div>

<ng-template #orden>
    <h1 class="text-center">Órden: {{ order._id.slice(19,25) }}</h1>
    <h5 class="mt-3 mb-3">Estado de la Órden</h5>
    
    <form novalidate [formGroup] = "stateForm" class="d-flex flex-row justify-content-evenly" >
        <div class="form-check">
            <input class="form-check-input" type="radio" formControlName="state" id="estado1" value="comercio" (ngModelChange)="updateOrder()">
            <label class="form-check-label" for="onWay">
                En el comercio
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" formControlName="state" id="estado2" value="camino" (ngModelChange)="updateOrder()">
            <label class="form-check-label" for="inCommerce">
                En camino
            </label>
        </div>
    </form>

    <div class="accordion accordion-flush mt-4" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Detalle de la orden
                </button>
            </h2>

            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <div class="card mb-3" *ngFor="let product of order.productos">
                        <div class="row g-0">
                            <div class="col-4 d-flex align-items-start">
                                <img [src]="imgURL + getImg(product._id)" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-8">
                                <div class="card-body">
                                    <h6 class="card-title">{{ product.nombre }}</h6>
                                    <p class="card-text">{{ product.precio | currency:'L ' }}</p>
                                    <p class="card-text">Cantidad: {{ product.cantidad }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="d-flex justify-content-end">
            <p class=""><strong>Subtotal:</strong> {{subTotal | currency:'L '}}</p>
        </div>
        <div class="d-flex justify-content-end">
            <p class=""><strong>Envío:</strong> {{order.precio_envio| currency:'L '}}</p>
        </div>
        <div class="d-flex justify-content-end">
            <p class=""><strong>Total:</strong> {{total | currency:'L '}}</p>
        </div>
    </div>


    <div id="tiempo">
        <div class="d-grid gap-2 col-6 mx-auto mt-4">
            <button class="btn primario" (click)="finishOrder()">Finalizar entrega</button>
        </div>
    </div>

</ng-template>