/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    margin-bottom: 40%;
}
html{
    min-height: 100%;
    position: relative;
    overflow: scroll;
}

.btn.primario{
    background-color:  #00485A;
    border-color: #00485A;
    color: white;
}
.btn.secundario{
    background-color:  #FFAD01;
    border-color: #FFAD01;
    color: white;
}

#logo{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
}