<app-header></app-header>

<h1 class="text-center mb-4">Historial de Órdenes</h1>

<div class="card-group">
    <div class="card" *ngFor="let order of history">
        <div class="row g-0">
            <div class="col-12">
                <div class="card-body">
                    <small class="text-muted float-end">{{ order.fecha }}</small>
                    <h5 class="card-title">Órden: {{ order._id.slice(19,25) }}</h5>
                    <p class="card-text">{{ order.empresa.nombre }}</p>
                </div>
            </div>
        </div>
    </div>
</div>